.App {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  font-size: 14px;
}

.top-details{
  text-align: center;
}

button{
  cursor: pointer;
  padding: 10px 15px;
  background: #038a03;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
}
button:hover{
  background: #13a813;
}
.info{
  padding: 10px 0;
  line-height: 30px;
}
.title{
  color: #0d8f1b;
  font-weight: 700;
}
.hash{
  font-size: 26px;
  font-weight: 600;
  color: #ff8800;
}
.separator{
  margin: 10px auto;
  width: 30%;
  height: 1px;
  background: darkgreen;
}

.section{
  margin-top: 25px;
}
.section-label{
  color: #0d8f1b;
  font-size: 18px;
  font-weight: 700;
}
ul.section-list > li{
  padding: 5px 0;
}
.list-label{
  font-weight: 600;
}
.list-value{
  margin-left: 8px;
}
